body{
    width: 100%;
}
/* header */
.header{
position: absolute;
width: 100%;
height: 15vh;
left: 0px;
top: 0px;

background: #BBD19A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iconS{    
position: absolute;
width: 10vh;
height: 10vh;
left: 3vh;
top: 2vh;
}
ul>li{
position: relative;
left: 7vh;
top: 1.8vh;
display: inline-block;
padding:10px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}
ul>li:hover{
    font-size: 28px;
    color: #FDAE37;
    font-weight: bold;
}
#mainSection{
    background-image: url(../img/mainBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mainSectionContainer{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    padding-bottom: 25vh;
}
.mainImg{
position: relative;
width: 70vh;
height: auto;
top: 18vh;
border-radius: 5px;
background: linear-gradient(0deg, rgba(147, 110, 203, 0.45), rgba(147, 110, 203, 0.45));
}
.mainBox{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width: 75vh;
height: auto;
border-radius: 5px;
top: 18vh;
background-color: white;
/*background: rgba(187, 209, 154, 0.7);*/
}
.iconXl{
    position: relative;
    align-self: center;
    top: 3vh;
    width: 50vh;
    height: auto;
    filter: drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.25));
}
.containedButton{
align-self: center;
width: 351px;
height: 49.96px;
background: #B09AD1;
border: #B09AD1;
border-radius: 7px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
align-items: center;
justify-self: center;
letter-spacing: 1.25px;
text-transform: uppercase;
color:white;
margin: 5px;
}
.outlinedButton{
align-self: center;
margin: 5px;
width: 351px;
height: 49.96px;
background-color: transparent;
border: 1px solid #936ECB;
box-sizing: border-box;
border-radius: 7px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
align-items: center;
justify-self: center;
letter-spacing: 1.25px;
text-transform: uppercase;
color:#936ECB;
}
#btn-mainSection{
position: relative;
float: right;
display: inline-block;
padding:5px;

background-color: transparent;
border: none ;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #FDAE37;

}
#btn-mainSection:hover{
    font-size: 23px;
    font-weight: bold;
}
/*seccion mascotas */ 
.sectionMascotas{
    margin-top: 5vh;
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh;
}
#cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.boxInfo{
    display: none;
}
.cardMasco{
    margin: 1vh ;
    width: 25vh;
    height: fit-content;
    border-radius: 15px;
    border-radius: 15px 15px 15px 15px ;
    background-color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding-bottom: 1vh;
}
.croppedImg{
    height: 25vh;
    width: 25vh;
    border-radius: 15px 15px 0px 0px ;
    object-fit: cover;
    object-position: 20% 10%;
}
.btn-info{
    margin-top: 1vh;
    background-color: transparent;
    border-color: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    color: #936ECB;
}
.tituloMascotas{
   display: flex;
   flex-direction: column;
   justify-items: space;
   align-items: center;
}
.filtro{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1vh;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
}
/* Textos */
.headline2{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 63px;
    line-height: 76px;
    letter-spacing: -0.5px;
    margin: 5px;
    color:black;
}
.headline3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    display: flex;
    align-self: center;
    justify-self: center;
    padding-left: 20px;

    color: #404040;
    
}
.headline4{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
letter-spacing: 0.25px;
color: black;
margin: 5px;
}
.headline5{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.25px;
    color: black;
    margin: 5px;
    }
.texto1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: black;
    margin: 5px;
}
/*MODAL DONACION*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; 
    left: 25%;
    top: 30%;
    width: 50%; /* Full width */
    height:auto; /* Full height */
    overflow: auto; 
    background-image: url(../img/background3.png);
    background-size: cover;
    filter: drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.25));
    padding: 2.5vh;
    border-radius: 10px;
  }
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
#plataDonacion{
    width: fit-content;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.25px;
}
#enviarDonacion{
    width: fit-content;
    background: #FDAE37;
    border: #FDAE37;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    align-items: center;
    justify-self: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color:white;
    padding: 5px;    
}
#enviarDonacion:hover,#enviarDonacion:focus{
    width: fit-content;
    background: #B09AD1;
    border: #FDAE37;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    align-items: center;
    justify-self: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color:white;
    padding: 5px;    
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}